new todo

<form action="/todos" method="post">
  <input type="text" name="name">
  <input type="text" name="description">
  <input type="date" name="due_date">
  <input type="checkbox" name="urgent">
  <button>Submit</button>
</form>